* {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "open sans", sans-serif;
}

.topbar {
  display: flex;
  background-color: rgba(189, 249, 245, 0.264);
  height: 5vw;
  justify-content: center;
  align-items: center;
}
.topbar li {
  display: inline;
  padding: 1vw;
}
.topbar li a {
  padding: 0.5vw;
  text-decoration: none;
  color: black;
  font-size: 1.75vw;
}
.topbar li .contact {
  display: inline;
  font-size: 1.1vw;
  background: black;
  color: white;
  border-radius: 1.3vw;
  padding: 1vw;
  margin-left: 26vw;
  font-family: cursive;
}
.topbar p {
  margin-left: 0;
  margin-right: 7.8vw;
  font-family: cursive;
  font-size: 1.3vw;
}
main {
  background-image: url("bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 800px;
}
.introbox {
  display: block;
  padding-top: 8.3vw;
  margin-left: 6.7vw;
  width: 41.5vw;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;

}
.introbox #P1 {
  display: block;
  font-size: 1.5rem;
  background-color: transparent;
  color: black;
  margin: 1.3vw 0vw;
}
.introbox #P2 {
  display: inline;
  font-size: 3.3rem;
  font-family: fantasy;
  margin: 1.3vw 0vw;
}
.introbox #p2 {
  display: inline;
  color: rgb(69, 145, 167);
  font-size: 3.3rem;
  font-family: fantasy;
  margin: 1.3vw 0vw;
}

.introbox #P3 {
  display: flex;
  font-family: fantasy;
  font-size: 3.2rem;
  margin: 1.3vw 0vw;
}

.introbox #P4 {
  display: flex;
  font-size: 1.5rem;
  margin: 1.3vw 0vw;
}
